<%- include('./partials/header') %>


<% pokemons.forEach(pokemon => { %>
    <div class="pokemonCont">
        <h2 id='header'><%= pokemon.name %> </h2>
        <a href="/pokemons/<%= pokemon.id %> "><img src=" <%= pokemon.img %> " alt="<%= pokemon.name %> "></a>
        <div class="action">
            <form action="/pokemons/<%= pokemon.id %>/edit">
                <input type="submit" value="Edit">
            </form>
            <form action="/pokemons/<%= pokemon.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
    <% }) %>
    
    
<%- include('./partials/footer') %>