<%- include('./partials/header') %>

<nav>
    <a href="/books">Back to foundBooks Index</a>
</nav>
<h1><%=foundBook.title %></h1>
Author: <%= foundBook.author%>
<br />
<p><%= foundBook.completed ? 'You have finished this book' : 'You have not finished this book' %></p>

<%- include('./partials/footer') %>